#include "IR/Function.hpp"
#include "IR/Module.hpp"
#include "IR/BasicBlock.hpp"
#include "IR/Instructions.hpp"
#include <memory>
{%- for header in headers %} 
#include "{{ header }}"
{%- endfor %}

namespace IR {
class IRBuilder {
public:
    IRBuilder(Module* m, Context* ctx) : _cur_module(m), _cur_ctx(ctx)  {}

    /* User Code Start: code space 1 */
    // TODO : 在此微操

    /* User Code End: code space 1 */

    {% for member in members %} {% if member.generate_get %}
    {{ member.type }} get{{ member.name }}() const {
        /* User Code Start: {{ classname }}::get_{{ member.name[1:] }} */
        return {{ member.name }};
        /* User Code End: {{ classname }}::get_{{ member.name[1:] }} */
    }
    {% endif %} {% endfor %}

    {% for member in members %} {% if member.generate_set %}
    void set{{ member.name }}( {{ member.type }} {{ member.name[5:] }} ) {
        /* User Code Start: set_{{ member.name[5:] }} */

        /* User Code End: set_{{ member.name[5:] }} */
    }
    {% endif %} {% endfor %}

    {% for Instr in Instructions %} 
    Instruction* create_{{ Instr.Instruction }}(
        /* User Code Start: */

        /* User Code End: */
    ){
        /* User Code Start: */
        return nullptr;
        /* User Code End: */
    }
    {% endfor %}
private:
    {%- for member in members %}
    {{ member.type }} {{ member.name }};
    {%- endfor %}


    /* User Code Start: */

    /* User Code End: */
};
}
